/*
TODO: Turn off user-select
*/

body {
	margin: 0;
    padding: 0;
    overflow: hidden;
}
    	
#stage {
	display: block;
    width: 800px;
    height: 450px;
    margin: 20px auto;
    outline: 1px solid #333;
    position: relative;
}

canvas {
    outline: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
}

#canvas {
    margin-bottom: 20px;
}

#statusBar {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: rgba(0,0,0,.9);
}


/*
 * Set CSS styles for menu UI
 */

.menu-ui {
	display: none;
	width: 360px;
	height: 160px;
	padding: 20px;
	background: #fff;
	position: relative;
	margin: 0 auto;
	top: 100px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

#overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.4);
}

#overlay.show {
	display: block;
}

.menu-ui.prep {
	display: block;
	opacity: 0;
	-webkit-transition: .3s all ease-in;
}

.menu-ui.prep.show {
	opacity: 1;
}

#start {
	
}

#startLevel {
	cursor: pointer;
	background: #000;
	color: #fff;
	padding: 4px;
}