/*
TODO: Turn off user-select
*/

body {
	margin: 0;
    padding: 0;
    overflow: hidden;
}
    	
#stage {
	display: block;
    width: 800px;
    height: 450px;
    margin: 20px auto;
    outline: 1px solid #333;
    position: relative;
}

canvas {
    outline: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
}

#canvas {
    margin-bottom: 20px;
}
        
#statusBar {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: rgba(0,0,0,.9);
}

#startLevel {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	background: #000;
	color: #fff;
	padding: 4px;
}